<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yltclient">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.own.activities.PersonalInfomationActivity"></activity>
        <activity android:name=".ui.own.activities.PersonalInfomationActivity" />
        <activity android:name=".home.JustHostActivity" />
        <activity android:name=".home.ComfirmActivity" />
        <activity android:name=".ui.own.activities.AboutUsActivity" />
        <activity android:name=".ui.own.activities.IntegralActivity" />
        <activity android:name=".ui.own.activities.TurnRecordActivity" />
        <activity android:name=".ui.own.activities.GetIntegralActivity" />
        <activity android:name=".ui.own.activities.IntegralTurnActivity" />
        <activity android:name=".ui.own.activities.BusinessSchoolActivity" />
        <activity android:name=".ui.mine.activity.IncomeDetailActivity" />
        <activity android:name=".ui.own.activities.MyPromotionActivity" />
        <activity android:name=".ui.own.activities.InviteFriendsActivity" />
        <activity android:name=".ui.news.activity.NewInformationActivity" />
        <activity android:name=".ui.news.activity.NewDetailActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.login.activitys.ForgetActivity" />
        <activity android:name=".ui.own.activities.WalletActivity" />
        <activity android:name=".ui.own.activities.ReceivingActivity" />
        <activity android:name=".ui.own.activities.SecurityActivity" />
        <activity
            android:name=".IndexcActivity"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>